*{
    margin: 0%;
    padding: 0%;

}

body{
    background-image: url(image/bg.jpg);
    background-size: 100%;
    color: white;

}

nav{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin-top: 40px;
}

nav h1{
    font-size: 50px;

}
nav span{
    color: rgb(235, 12, 12);
}

ul button{
    width: 100px;
    height: 35px;
    background-color: red;
    color: white;
    font-size: 15px;
    border: none;

}
ul{
    display: flex;
    list-style: none;

}

ul li a{

    margin-inline: 30px;
    font-size: 20px;
    color: white;
    

}

ul li a:hover{
    border-bottom: 4px solid rgba(248, 248, 255, 0.911);
    border-radius: 3px;
    margin-top: 2px;
    cursor: pointer;
}

.text{
    margin-left: 5%;
    margin-top: 120px;

}
.text h1{
    font-size: 80px;
}

.text p{
    font-size: 20px;
}

.text button{
    width: 170px;
    height: 45px;
    background-color: red;
    color: wheat;
    border: none;
    margin-top: 50px;
    font-size: 25px;
    cursor: pointer;
}
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }


.wrapper {
    min-height: 100%;
    position: relative;
}

.content {
    padding-bottom: 2.5rem; /* Adjust this value to match the footer's height */
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem; /* Adjust this value to match the desired height of the footer */
    background-color: #5e0f0f5d;
    text-align: center;
    padding: 1rem;
}

  
